<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Rental heaven</h1>
    <p>Find a great place to live or rent for your vacation</p>

    {{#link-to 'contact'}}Click here to contact us.{{/link-to}}
    
  </body>
</html>
